<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241723989064-b3tc9gdbbij5qmav0b4mmnodmnv3j28m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241723989064-b3tc9gdbbij5qmav0b4mmnodmnv3j28m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241723989064-tbtalkie0qs4q13unp9kfhvhfis5fpcv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkjCpEmD7Ty0DhUMlx8QYIYDTLnbmO7bE</string>
	<key>GCM_SENDER_ID</key>
	<string>241723989064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeaper.app</string>
	<key>PROJECT_ID</key>
	<string>zeap-7de3d</string>
	<key>STORAGE_BUCKET</key>
	<string>zeap-7de3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241723989064:ios:ace276feddc12633c50c7d</string>
</dict>
</plist>